@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;0,600;0,700;1,400;1,500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 1.5rem;
  --font-size-lgi: 1.188rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-3xl: 1.375rem;
  --font-size-9xl: 1.75rem;
  --font-size-xs: 0.75rem;
  --font-size-2xs: 0.688rem;
  --font-size-17xl: 2.25rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #8e8e8e;
  --color-gray-200: #888;
  --color-gray-300: #848484;
  --color-gray-400: #808080;
  --color-gray-500: rgba(255, 255, 255, 0.7);
  --color-gray-600: rgba(255, 255, 255, 0.65);
  --color-gray-700: rgba(255, 255, 255, 0.3);
  --color-gray-800: rgba(255, 255, 255, 0.5);
  --color-gray-900: rgba(0, 0, 0, 0.53);
  --color-gray-1000: rgba(0, 0, 0, 0.56);
  --color-darkgray-100: #b0b0b0;
  --color-darkgray-200: #a6a6a6;
  --color-darkgray-300: #999;
  --color-cornflowerblue-100: #00a3ff;
  --color-cornflowerblue-200: #0085d0;
  --color-black: #000;
  --color-darkslategray-100: #3d3d3d;
  --color-darkslategray-200: #0a2d4c;
  --color-steelblue-100: #0585cc;
  --color-steelblue-200: #004e87;
  --color-steelblue-300: rgba(32, 140, 202, 0.37);
  --color-deepskyblue: #1f9fe6;
  --color-royalblue-100: #266bff;
  --color-royalblue-200: #006ad5;
  --color-royalblue-300: #0064d4;
  --color-royalblue-400: #005dc6;
  --color-royalblue-500: rgba(38, 107, 255, 0.09);
  --color-dimgray-100: #707070;
  --color-dimgray-200: #4c5863;
  --color-dimgray-300: rgba(76, 88, 99, 0.7);
  --color-mediumblue: #0044fa;
  --color-slategray: #516e8a;
  --color-gainsboro: #e6e6e6;
  --color-lightblue: #c2e1f9;
  --color-darkslateblue: #015db2;

  /* Gaps */
  --gap-base: 1rem;
  --gap-6xl: 1.562rem;
  --gap-85xl: 6.5rem;
  --gap-15xl: 2.125rem;
  --gap-7xl: 1.625rem;
  --gap-sm-7: 0.856rem;
  --gap-mid-1: 1.068rem;
  --gap-35xl: 3.375rem;
  --gap-17xl: 2.25rem;
  --gap-5xl: 1.5rem;
  --gap-25xl: 2.75rem;
  --gap-3xl: 1.375rem;
  --gap-xs: 0.75rem;
  --gap-41xl: 3.75rem;
  --gap-60xl: 4.937rem;
  --gap-3xs: 0.625rem;
  --gap-4xl: 1.437rem;
  --gap-2xl: 1.312rem;
  --gap-mid: 1.062rem;
  --gap-4xs: 0.562rem;
  --gap-21xl: 2.5rem;
  --gap-xl: 1.25rem;
  --gap-9xs: 0.25rem;
  --gap-sm: 0.875rem;
  --gap-7xs: 0.375rem;
  --gap-9xl: 1.75rem;
  --gap-lgi: 1.187rem;
  --gap-77xl: 6rem;
  --gap-29xl: 3rem;
  --gap-19xl: 2.375rem;
  --gap-51xl: 4.375rem;
  --gap-16xl: 2.187rem;
  --gap-57xl: 4.75rem;
  --gap-lg: 1.125rem;
  --gap-5xs: 0.5rem;
  --gap-95xl: 7.125rem;
  --gap-38xl: 3.562rem;
  --gap-44xl-6: 3.975rem;
  --gap-13xl: 2rem;
  --gap-2xs: 0.687rem;
  --gap-3xs-5: 0.593rem;
  --gap-97xl: 7.25rem;
  --gap-20xl-8: 2.487rem;
  --gap-12xl: 1.937rem;
  --gap-4xs-5: 0.531rem;
  --gap-4xs-6: 0.537rem;
  --gap-191xl: 13.125rem;

  /* Paddings */
  --padding-35xl: 3.375rem;
  --padding-45xl: 4rem;
  --padding-13xl: 2rem;
  --padding-12xs: 0.062rem;
  --padding-xl: 1.25rem;
  --padding-110xl: 8.062rem;
  --padding-base: 1rem;
  --padding-mid-1: 1.068rem;
  --padding-9xs-4: 0.212rem;
  --padding-smi-4: 0.775rem;
  --padding-lgi-9: 1.243rem;
  --padding-base-5: 1.031rem;
  --padding-66xl: 5.312rem;
  --padding-3xs: 0.625rem;
  --padding-38xl: 3.562rem;
  --padding-8xl: 1.687rem;
  --padding-86xl: 6.562rem;
  --padding-42xl: 3.812rem;
  --padding-smi: 0.812rem;
  --padding-11xl: 1.875rem;
  --padding-12xl: 1.937rem;
  --padding-112xl: 8.187rem;
  --padding-46xl: 4.062rem;
  --padding-4xs: 0.562rem;
  --padding-xs: 0.75rem;
  --padding-sm: 0.875rem;
  --padding-2xl: 1.312rem;
  --padding-5xl: 1.5rem;
  --padding-24xl: 2.687rem;
  --padding-17xl: 2.25rem;
  --padding-9xs: 0.25rem;
  --padding-7xl: 1.625rem;
  --padding-125xl: 9rem;
  --padding-164xl: 11.437rem;
  --padding-3xl: 1.375rem;
  --padding-33xl: 3.25rem;
  --padding-16xl: 2.187rem;
  --padding-mid: 1.062rem;
  --padding-81xl: 6.25rem;
  --padding-23xl: 2.625rem;
  --padding-103xl: 7.625rem;
  --padding-2xs: 0.687rem;
  --padding-20xl: 2.437rem;
  --padding-31xl: 3.125rem;
  --padding-6xl: 1.562rem;
  --padding-29xl: 3rem;
  --padding-202xl: 13.812rem;
  --padding-75xl: 5.875rem;
  --padding-59xl: 4.875rem;
  --padding-111xl: 8.125rem;
  --padding-4xl: 1.437rem;
  --padding-lgi: 1.187rem;
  --padding-39xl: 3.625rem;
  --padding-6xs-7: 0.418rem;
  --padding-255xl: 17.125rem;
  --padding-71xl: 5.625rem;
  --padding-40xl: 3.687rem;
  --padding-10xl: 1.812rem;
  --padding-lg: 1.125rem;
  --padding-48xl-5: 4.218rem;
  --padding-3xs-2: 0.575rem;
  --padding-5xs: 0.5rem;
  --padding-lgi-1: 1.193rem;
  --padding-6xs-1: 0.381rem;
  --padding-sm-3: 0.831rem;
  --padding-sm-5: 0.843rem;
  --padding-sm-4: 0.837rem;
  --padding-smi-5: 0.781rem;
  --padding-8xs: 0.312rem;
  --padding-lg-5: 1.156rem;
  --padding-7xs: 0.375rem;
  --padding-9xs-5: 0.218rem;

  /* Border radiuses */
  --br-xs: 12px;
  --br-sm: 14px;
  --br-7xs-1: 5.1px;
  --br-92xl-7: 111.7px;
  --br-71xl: 90px;
  --br-3xs: 10px;
  --br-lg: 18px;
  --br-xs-7: 11.7px;
  --br-25xl: 44px;
  --br-base: 16px;
  --br-881xl: 900px;
  --br-7xl: 26px;
  --br-61xl: 80px;
  --br-23xl-7: 42.7px;
}
